	<div class="container vertical-center">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8 col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0">
				<div class="post icon experience-icon no-hover centered lighter"></div>
				<h2 class="header-title post">My Experience</h2>
				<p class="large text-center header-text post">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ullamcorper vulputate ipsum vitae volutpat. Aliquam luctus tincidunt magna. Suspendisse tempor purus eu turpis vehicula finibus. Quisque vestibulum, lacus sed accumsan venenatis</p>

				{{#each content.experience}}
					<div class="job post">
						<h3>{{job}}</h3>
						<h4>{{skill}}</h4>
						<p class="small">{{description}}</p>
					</div>
				{{/each}}

			</div>
		</div>
	</div>