<footer class="footer">
	<div class="container">
		<div class="col-xs-12 footer-content">
			<ul class="social pull-left">
				<li><a class="twitter-icon icon" href="https://twitter.com/chrisbrooks2009"  target="_blank">Twitter</a></li>
				<li><a class="facebook-icon icon" href="https://www.facebook.com/chris.brooks.79" target="_blank">Twitter</a></li>
				<li><a class="linkedin-icon icon" href="http://uk.linkedin.com/pub/chris-brooks/26/858/ba7/"  target="_blank">LinkedIn</a></li>
			</ul>
			<div class="logo-containers pull-right">
				<p>&#169; 2015 Chris Brooks. All Rights Reserved.</p>
				<a class="icon home-icon"></a>
			</div>
		</div>
	</div>
</footer>
<a class="scroll-button" style="display: block;">
	<svg width="57" height="57" viewBox="0 0 80 80" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle cx="40" cy="40" r="32"></circle><line x1="41" y1="32" x2="25" y2="48"></line><line x1="55" y1="48" x2="40" y2="32"></line></svg>
</a>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="scripts/plugins.min.js"></script>
<script src="scripts/combined.min.js"></script>