<header class="inner-page">
	<div id="headerSlideContainer">
		<div id="headerSlideContent">
			<ul class="social">
				<li class="twitter"><a href="https://twitter.com/chrisbrooks2009"  target="_blank">Twitter</a></li>
				<li class="facebook"><a href="https://www.facebook.com/chris.brooks.79" target="_blank">Twitter</a></li>
				<li class="linkedin"><a href="http://uk.linkedin.com/pub/chris-brooks/26/858/ba7/"  target="_blank">LinkedIn</a></li>
			</ul>
			<ul class="dropdown">
				<li><a href="index.php">Home</a></li>
				<li><a href="#" class="port">Portfolio</a></li>
			</ul>
		</div>
	</div>
	<div class="container">
		<div class="hi-icon-wrap hi-icon-effect-1">
			<a href="index.php" class="hi-icon hi-icon-mobile">Mobile</a>
		</div>
	</div>
</header>