<header class="header">
	<nav class="navigation">
		<ul>
			<li class="current"><a class="home-icon icon" href="#home">Home</a></li>
			<li><a href="#aboutme" class="aboutme-icon icon">About Me</a></li>
			<li><a href="#portfolio" class="portfolio-icon icon">Portfolio</a></li>
			<li><a href="#experience" class="experience-icon icon">Experience</a></li>
		</ul>
		<div class="icon-container">
			<div class="menu_icon"></div>
		</div>
	</nav>
</header>

