<div class="container project-container-outer">
	{{#each content.projects}}
		<div class="col-xs-12 col-sm-6 col-md-4 project-container">
			<a class="project {{class}}">
				<div class="content">
					<h2>{{title}}<br/></h2>
					<p>{{skill}}</p>
				</div>
			</a>
		</div>
	{{/each}}
</div>