@font-face {
	font-family: 'chris-icons';
	src: url('../fonts/chris-icons.eot?11298427');
	src: url('../fonts/chris-icons.eot?11298427#iefix') format('embedded-opentype'),
		url('../fonts/chris-icons.woff?11298427') format('woff'),
		url('../fonts/chris-icons.ttf?11298427') format('truetype'),
		url('../fonts/chris-icons.svg?11298427#chris-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'ostrich_sansmedium';
    src: url('../fonts/ostrich-regular-webfont.eot');
    src: url('../fonts/ostrich-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ostrich-regular-webfont.woff2') format('woff2'),
         url('../fonts/ostrich-regular-webfont.woff') format('woff'),
         url('../fonts/ostrich-regular-webfont.ttf') format('truetype'),
         url('../fonts/ostrich-regular-webfont.svg#ostrich_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}