.footer{
	position: relative;
	background:$blue;
	z-index:2;
	.footer-content{
		padding-top: 20px;
		padding-bottom: 20px;
		.logo-containers {
			a {
				height: 40px;
				width: 40px;
				float: left;
				background-size: 38px;
				margin: 0px 0px 0px 10px;
				cursor:pointer;
				&.icon.home-icon:after {
					content: '\e800';
					text-align: right;
					left: 5px;
					top: 1px;
					font-size: 31px;
				}
			}
			p {
				float: left;
				margin-top: 10px;
				color: darken($grey,20);
				font-weight: 300;
				font-size: 15px;

				@media (max-width: 767px) {
					display:none;
				}
			}
		}
	}
}