.footer{
	position: relative;
	background:$blue;
	z-index:2;
	.footer-content{
		padding:20px 0px;
		.logo-containers {
			a {
				height: 40px;
				width: 40px;
				float: left;
				margin: 0px 0px 0px 10px;
				cursor:pointer;
				&.icon.home-icon:after {
					content: '\e804';
					text-align: right;
				}
			}
			p {
				float: left;
				margin-top: 10px;
				color: darken($grey,20);
				font-weight: 300;
				font-size: 15px;

				@media (max-width: 767px) {
					display:none;
				}
			}
		}
	}
}