.icon{
	margin: 10px 15px;
	color: darken($grey,20);
	display: block;
	height:40px;
	text-indent: -9999px;
	width: 40px;
	display: block;
	position:relative;
	@include transition(all, .35s, ease);

	@media (max-width: 767px) {
		margin: 10px 10px;
	}

	&.no-hover{
		&:hover{
			color: $grey;
		}
	}
	&.centered{
		margin:0 auto;
	}
	&.lighter{
		color: $grey;
	}
	&:hover{
		text-decoration: none;
		color:$white;
	}
	&:focus{
		color: $grey;
	}
	&:after{
		font-family: "chris-icons";
		font-style: normal;
		font-weight: normal;
		speak: none;
		text-decoration: inherit;
		font-variant: normal;
		text-transform: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		display: block;
		text-indent: 0px;
		text-align:center;
		line-height:2px;
		font-size: 40px;
	}
	&.home-icon{
		&:after{
			content: '\e804';
		}
	}
	&.experience-icon{
		&:after{
			content: '\e803';
		}
	}
	&.portfolio-icon{
		&:after{
			content: '\e802';
		}
	}
	&.aboutme-icon{
		&:after{
			content: '\e800';
		}
	}
	&.linkedin-icon{
		&:after{
			content: '\e806';
		}
	}
	&.facebook-icon{
		&:after{
			content: '\e807';
		}
	}
	&.twitter-icon{
		&:after{
			content: '\e801';
		}
	}
}