.icon{
	margin: 10px 15px;
	color: darken($grey,20);
	display: block;
	height:40px;
	text-indent: -9999px;
	width: 40px;
	border-radius: 40px;
	display: block;
	border: 2px solid darken($grey,20);
	position:relative;
	@include transition(all, .35s, ease);

	@media (max-width: 767px) {
		margin: 10px 10px;
	}

	&.no-hover{
		&:hover{
			color: $grey;
			border: 2px solid $grey;
		}
	}
	&.centered{
		margin:0 auto;
	}
	&.lighter{
		color: $grey;
		border: 2px solid $grey;
	}
	&:hover{
		text-decoration: none;
		border: 2px solid $white;
		color:$white;
	}
	&:focus{
		color: $grey;
	}
	&:after{
		font-family: "chris-icons";
		font-style: normal;
		font-weight: normal;
		speak: none;
		text-decoration: inherit;
		font-variant: normal;
		text-transform: none;
		-webkit-font-smoothing: antialiased;
		display: block;
		text-indent: 0px;
		position:absolute;
	}
	&.home-icon{
		&:after{
			content: '\e800';
			text-align: right;
			left: 5px;
			top: 0px;
			font-size: 32px;
		}
	}
	&.experience-icon{
		&:after{
			content: '\e802';
			font-size: 17px;
			top: 9px;
			left: 10px;
		}
	}
	&.portfolio-icon{
		&:after{
			content: '\e801';
			font-size: 24px;
			top: 5px;
			left: 6px;
		}
	}
	&.aboutme-icon{
		&:after{
			content: '\e804';
			font-size: 19px;
			top: 7px;
			left: 9px;
		}
	}
	&.linkedin-icon{
		&:after{
			content: '\e806';
			font-size: 22px;
			top: 8px;
			left: 11px;
		}
	}
	&.facebook-icon{
		&:after{
			content: '\e803	';
			font-size: 24px;
			top: 8px;
			left: 9px;
		}
	}
	&.twitter-icon{
		&:after{
			content: '\e805';
			font-size: 21px;
			top: 8px;
			left: 11px;
		}
	}
}