.arrow-down {
	display: block;
	width: 60px;
	height: 60px;
	position:absolute;
	left:50%;
	margin-left:-30px;
	bottom:10px;
	svg line {
		stroke: #666;
		stroke-width: 3px;
	}
	svg circle {
		stroke: #666;
		stroke-width: 3px;
		stroke-dasharray: 500;
		stroke-dashoffset: 500;
		fill: none;
	}
	&.as-circle-full svg circle {
		@include animation('circle-full 2s ease-in-out alternate forwards');
	}
	&.as-circle-none svg circle {
		@include animation('circle-none 2s ease-in-out forwards');
	}
	@include keyframes(circle-full) {
		0% { stroke-dashoffset: 500;}
		100% { stroke-dashoffset: 0;}
	}
	@include keyframes(circle-none) {
		0% { stroke-dashoffset: 0;}
		100% { stroke-dashoffset: 500;}
	}
}