<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name=robots content="index,follow"/>
		<meta name=description content="Portfolio for Wimbledon based web designer Chris Brooks"/>
		<meta name=keywords content="chris brooks, web designer, web design wimbledon, web design raynes park, web design new malden"/>
		<meta name=author content="Chris Brooks"/>
		<meta name=google-site-verification content=HdaVSbUoSXoH3pLePGmst_HaX8v8QCq2xR7oPah4SxY />
		<meta name=viewport content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<title>Chris Brooks | Web Designer</title>
		<link rel="apple-touch-icon-precomposed" sizes="57x57" href="images/favicon-57x57.png">
		<link rel="apple-touch-icon-precomposed" sizes="76x76" href="images/favicon-76x76.png">
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="images/favicon-120x120.png">
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="images/favicon-152x152.png">
		<link rel="apple-touch-icon-precomposed" sizes="180x180" href="images/favicon-180x180.png">
		<link rel="icon" sizes="196x196" href="images/favicon-192x192.png">
		<link rel="icon" sizes="57x57" href="images/favicon-57x57.png">
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
		<link rel=Stylesheet href="styles/style.css" type="text/css" media=screen />
	</head>
	<body>
		{{>body}}
	</body>

